/*joint*/

.spikelet {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.separator_bestsellers {
    color: var(--second_text-color) ;
    text-align: center;
}

/*.stout_image-container,
.american-ale_image-container,
.indian-ale_image-container {
 width: 50%;
}

.stout_content,
.indian-ale_content,
.american-ale_content {
width: 50%;
}*/

.botle {
    display: block;
    margin: auto;
    width: 100%;
}

.beer__title {
    color: var(--text-color);
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.beer_about {
    color: var(--third_text-color);
}

.description {
    color: var(--fourth_text-color);
}

.beer_name {
    color: var(--second_text-color);
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.beer__gen {
    color: var(--text-color);
}

/*Stout*/

.stout_compositions {
    color: var(--text-color);
    text-align: center;
    width: 70%;
    text-align: left;
}

/*Indian*/

.indian-ale_compositions {
    color: var(--text-color);
    text-align: center;
    width: 40%;
    text-align: left;
}

/*American*/

.american-ale_compositions {
    color: var(--text-color);
    text-align: center;
    width: 40%;
    text-align: left;
}

@media (min-width: 500px) {
    .stout_container {
        display: flex;   
    }

    .indian-ale_container {
        display: flex;
    }

    .american-ale_container {
        display: flex;
    }
}

.carousel__bestsellers {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    margin: auto;
  }

  .carousel__bestsellers-slide {
    display: flex;
    align-items: center;
    justify-content: center;
   }

.arrow-sellers {
    margin: auto;
    border-radius: 50%;
    background: #108810;
  }

  .carousel__btn-go {
    margin: auto;
  }

  .carousel__btn-pre {
    margin: auto;
  }

.carousel__bestsellers {
    background-image: url(../img/background__barrels.webp);
    background-size: cover;
    background-position: 50% 50%;
}


