.section-choice {
    background-color: var(--background-color_choice); 
}
.section-choice__container {
    max-width: 430px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .section-choice__container {
        max-width: 708px;
        margin: 0 auto;
    } 
    .section-choice__wrapper {
        display: flex; 
     }     
}
@media (min-width: 980px) {
    .section-choice__container {
        max-width: 896px;
        margin: 0 auto;
    }        
}
/*.section-choice__picture {
    width: 50%; 
}
.section-choice__text {
    width: 50%;
}*/
.section-choice__img {
    display: block;
    width: 100%;
    padding-top: 60px;
} 
@media (min-width: 768px) {
    .section-choice__img {
       margin-top: 50px; 
       margin-left: -100px;
    }
}
.section-choice__separator {
    color: var(--text-color_choice);
    padding-bottom: 20px;
    padding-top: 60px;
}
.section-choice__spikelet-separator {
    padding-bottom: 20px;
    color: var(--text-color_choice);
}
.section-choice__title {    
    font-size: 34px;
    font-weight: bold;
    color: var(--text-color_black);
    font-family: 'Frank Ruhl Libre', sans-serif;
    padding-bottom: 20px;
}
.section-choice__subtitle {
    font-size: 20px;
    color: var(--text-color_choice);
    font-family: 'Rubik', sans-serif;    
    padding-bottom: 40px;
}
.section-choice__list {
    color: var(--text-color_choice);
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
}
.section-choice__question {
    font-weight: bold;
    padding: 10px 0 10px 0;
}
.section-choice__answer {
    padding-bottom: 10px;
}
.section-choice__hr {
    margin-bottom: 10px;
}
.section-choice__hr:last-child {
    margin-bottom: 40px;
}