.our-events__our-events {
    background-color: var(--background-color);
    min-width: 320px;

}

.conteiner {
    max-width: 1200px;
    margin: auto;
}

.our-events-content {
    max-width: 320px;
    margin: auto;
    margin-bottom: 0px;
}

.separatorXXX {
    font-family: 'Rubik';
    color: var(--second_text-color);
    font-weight: 900;
    text-align: center;
    font-size: 14px;
    padding-top: 70px;
}

.side__content {
    width: 280px;
    padding: 0 20px 0 20px;

}

.our-events__title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 34px;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin-top: 18px;
    margin-bottom: 20px;
}

.spikelet-separator {
    width: 100px;
    display: block;
    margin-bottom: 20px;
}

.our-events__subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    line-height: 32px;
    margin: auto;
    margin-bottom: 20px
}

.our-events__schedule {
    display: flex;
    align-items: center;
}

.schedule__schedule {
    height: 655px;
}

.open-day,
.festival {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.open-day__right-side,
.festival__left-side {
    background-color: #392c26;
    padding-top: 20px;
    padding-bottom: 40px;
    height: 445px;

}

.open-day__image,
.festival__image {
    display: block;
    width: 280px;
    /* max-height: 210px; */
    object-fit: cover;
    /* margin: 20px 0px 0px 0px; */

}

.event-price {
    font-family: 'Frank Ruhl Libre';
    font-size: 14px;
    font-weight: 900;
    color: var(--fourth_text-color);
    margin-bottom: 20px;
}

.event-title {
    font-family: 'Frank Ruhl Libre';
    font-size: 22px;
    font-weight: 900;
    color: var(--second_text-color);
    margin-bottom: 20px;
}

.our-events__subtitle,
.schedule__schedule {
    max-width: 270px;
}

.event-date {
    font-family: 'Frank Ruhl Libre';
    font-size: 14px;
    font-weight: 900;
    color: var(--fourth_text-color);
    margin-bottom: 20px;
    margin-top: 20px;
}

.event-text {
    font-family: 'Rubik';
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: var(--fourth_text-color);
    margin-bottom: 40px;
    display: block;
}

.schedule-button {
    width: 8rem;
    height: 2.5rem;
    background-color: #2c8536;
    border-radius: 25px;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Rubik';
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}

.schedule-button:hover {
    position: relative;
    left: 5px;
    bottom: 0px;
    box-shadow: inset 10px 0px 10px#246c2d;
}

.timer__clock {
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    color: var(--second_text-color);
    height: 20px;
}

.our-events__schedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button__back,
.button__forward {
    transform: scale(1);
    fill: var(--second_text-color);
}


@media (min-width: 700px) {
    .our-events__schedule {
        display: grid;
        grid-template-columns: 0.2fr 3fr 0.2fr;
    }

    .schedule__schedule {
        height: 420px;
    }

    .our-events__subtitle,
    .schedule__schedule {
        max-width: none;
    }

    .our-events-content {
        max-width: 720px;
        margin: auto;

    }

    .open-day {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .festival {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .open-day__right-side,
    .festival__left-side,
    .open-day__left-side,
    .festival__right-side {
        width: 100%;
        height: 100%;
    }

    .open-day__image,
    .festival__image {
        width: 100%;
        height: 100%;
        /* max-height: 450px; */
        object-fit: cover;
        object-position: 50% 50%;
        margin: 0px;

    }

    .side__content {
        width: 100%;
        height: 100%
    }

    .button__back,
    .button__forward {
        transform: scale(0.5);
    }

}