.topline {
    background-color: var(--text-color-dark);
    transform: rotate(180deg);
    /* margin: 0; */
    /* padding-top: 75px;
    padding-bottom: 10px; */

}

.footer {
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
    background-color: var(--background-color);
    position: relative;
    /* min-width: 320px; */
    /* margin: 0; */
    /* position: absolute; */
    /* display: flex; */
    /* justify-content: center; */
}

.lefrside {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-start;
    /* max-width: 320px; */
}

.footer_contacts {
    color: var(--text-color);
    font-size: 34px;
    padding-top: 102px;
    /* max-width: 320px; */
}

.contacts__title {
    font-size: inherit;
    font-family: 'Frank Ruhl Libre', serif;
    /* text-align: left; */
}

.footer__main {
    font-size: 17px;
    margin: 0px 24px;
    /* padding-bottom: 90px; */
    /* max-width: 320px; */
    /* margin: auto; */
    /* justify-content: center; */
    /* flex-direction: row; */
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* display: block; */
}

.contacts__text {
    margin-top: 25px;
    font-size: inherit;
    font-family: 'Rubik', serif;
}

.contacts__tablet {
    margin-top: 25px;
}

.contacts__address {
    margin-bottom: 15px;
    font-size: 17px;
    text-align: left;
    
}

.contacts__street {
    font-family: 'Rubik', serif;
    color: var(--color-text-info);
    padding-top: 8px;
    padding-bottom: 8px;
    /* padding-left: 15px; */
    /* display: flex; */
    /* flex-direction: column; */
}

.contacts__date {
    font-family: 'Frank Ruhl Libre', serif;
    color: var(--color-subtitle-light);
    margin-bottom: 5px;
    /* flex-direction: row; */
    /* padding-top: 8px;
    padding-right: 15px; */
    /* display: flex; */
    /* width: 20%; */
    /* text-align: left; */
    /* display: table; */
}

.contacts__tablet_info {
    color: var(--info-color);
    text-decoration: none;
    font-family: 'Rubik', serif;
    /* padding-top: 8px;
    padding-left: 7px; */
    /* flex-direction: column; */
    /* display: flex; */
}

.contacts__tablet_info:hover {
    color: var(--second_text-color);
}

.contacts__hours {
    display: block;
    margin-bottom: 16px;
}

.contacts__map {
    margin-top: 30px;
    height: 277px;
    /* min-width: 320px; */
    /* width: auto; */
    /* box-sizing: border-box; */
    /* display: block; */
    /* position: relative; */

}

.contacts__map_size {
    height: 100%;
    justify-content: center;
}

iframe {
    filter: grayscale(90%);
    height: 100%;
    width: 100%;

}

.rightside {
    margin: 0px 24px;
    display: block;
    margin-top: 50px;
    align-items: center;
    margin: auto;
    /* min-width: 320px; */
    /* flex-basis: 100%; */
    /* padding: 0px 15px; */
    /* flex-direction: row; */
    /* padding: 39px 55px; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* width: 100%; */
    /* padding: 37px, 24px; */
}

.footer__form {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-background-form);
    padding: 39px 55px;
    margin: 24px;
    font-family: 'Rubik', serif;

    /* width: 100%; */
    /* align-items: center; */
    /* justify-content: flex-start; */

}

.form__fullname {
    border-radius: 25px;
    margin-bottom: 24px;
    margin-top: 12px;
    border-style: solid;
    display: block;
    width: 100%;
    border-color: var(--color-tablet-border);
    background-color: var(--color-background-form);
    justify-content: center;
    padding: 13px 37px 13px 37px;
    color: var(--text-color);
    font-family: 'Rubik', serif;
    /* outline: auto;
    outline-color:#3b99fc ; */
    /* border-width: 0; */
    /* border-width: 2px; */
}

.form__fullname :hover {
    border-bottom-color: var(--color-tablet-border);
    outline: auto;
    outline-color: #3b99fc;
}

.form__phone {
    border-radius: 25px;
    margin-bottom: 24px;
    margin-top: 12px;
    border-style: solid;
    display: block;
    width: 100%;
    border-color: var(--color-tablet-border);
    background-color: var(--color-background-form);
    justify-content: center;
    padding: 13px 37px 13px 37px;
    color: var(--text-color);
    font-family: 'Rubik', serif;
}

.form__phone :hover {
    border-bottom-color: var(--color-tablet-border);
    outline: auto;
    outline-color: #3b99fc;
}

.form__email {
    border-radius: 25px;
    margin-bottom: 24px;
    margin-top: 12px;
    border-style: solid;
    display: block;
    width: 100%;
    border-color: var(--color-tablet-border);
    background-color: var(--color-background-form);
    justify-content: center;
    padding: 13px 37px 13px 37px;
    color: var(--text-color);
    font-family: 'Rubik', serif;
}

.form__email :hover {
    border-bottom-color: var(--color-tablet-border);
    outline: auto;
    outline-color: #3b99fc;
}

.form__details {
    border-radius: 25px;
    margin-bottom: 24px;
    margin-top: 12px;
    border-style: solid;
    border-width: 2px;
    display: block;
    width: 100%;
    height: 150px;
    padding: 13px 37px;
    background-color: var(--color-background-form);
    border-color: var(--color-tablet-border);
    color: var(--text-color);
    resize: none;
    font-family: 'Rubik', serif;
    /* justify-content: center; */
    /* border-width: 2px; */
}

.form__details :hover {
    border-bottom-color: var(--color-tablet-border);
    outline-color: #3b99fc;
}

.form__submit {
    box-sizing: border-box;
    border-radius: 25px;
    color: var(--text-color);
    padding: 13px 37px 13px 37px;
    background-color: var(--color-green-dates);
    text-align: center;
    cursor: pointer;
    padding: 13px 37px 13px 37px;
    margin-top: 56px;
    position: relative;
    width: 100%;
    border: none;
    /* align-items: center; */
    /* display: flex; */
    /* border-color: var(--color-green-dates); */
}

.form__details :hover {
    border-bottom-color: var(--color-tablet-border);
    outline: auto;
}

.footer__menu {
    background-color: #261d17;
    margin-top: 30px;
    margin: 0px;
    /* min-width: 320px; */
}

.footer__underline {
    color: rgb(210, 201, 186);

}

.footer__wrap {
    display: block;
    padding: 0px 24px;
    /* min-width: 320px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: stretch; */
    /* justify-content: center; */
    /* text-align: center; */
}

.img_logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* margin: auto; */
}

.footer__nav {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    /* height: 160px; */

    /* position: relative; */
    /* width: 100%; */
    /* margin: auto; */
    /* min-width: 320px; */
    /* justify-content: center; */

}

.menu__item {
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;

}

.menu__item:hover {
    color: var(--second_text-color);
}

.footer__endline {
    /* min-width: 320px; */
    height: 1px;
    border: 1px solid var(--color-endline);
    margin: 0px 25px;
}

.footer__underline {
    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 20px;
    font-size: 14px;
    align-items: center;
    padding: 15px 0px;
}

.footer_reserved {
    margin: 15px 0px;
}

@media (min-width: 768px) {
    .footer {
        align-items: center;
    }

    .contact__main {
        display: flex;
        flex-direction: row;
        padding: 0px 32px 100px;
        justify-content: center;
    }

    .lefrside {
        padding: 0px 15px;
        display: flex;
        justify-content: flex-start;
    }

    .rightside {
        margin: 0;
    }

    .footer_contacts {
        display: block;
    }

    .footer__form {
        height: 685px;
        width: 337px;
    }

    .footer__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 100px;

    }

    span {
        margin-right: 15px
    }

    .footer__underline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 25px;
    }
}

@media (min-width:991px) {
    .footer__main {
        width: 50%;
        margin: 0;
    }

    .rightside {
        width: 50%;
    }

    .footer__form {
        height: 665px;

    }

    .footer__nav {
        display: flex;
        flex-direction: row;
    }

    .footer__wrap {
        padding: 70px 32px 70px 32px;
        align-items: center;
    }
}