.our-brewery {
    background-color: var(--color-our-brewery);
    color: var(--fourth_text-color);
    width: auto;
    height: auto;
    align-items: center;
}

.our-brewery__header {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-brewery__separator {
    font-size: 14px;
    color: var(--second_text-color);
}

.our-brewery__title {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.spikelet-separator {
    width: 100px;
    background-color: var(--color-our-brewery);
}

.our-brewery__info {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 0 0 50px 0;
    
}

.our-brewery-carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 387px;
    line-height: 25.5px;
    padding-left: 20px;
    
  }
  
  .our-brewery__carousel {
    display: grid;
    grid-template-columns: 80px 1fr 100px;
    padding-bottom: 100px;
    
  }
  
  .our-brewery-carousel__slide-container--second {
    transform: scale(1.3);
  }
  
  .our-brewery-carousel__slide-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    height: 100%;
  }

  .our-brewery-carousel__btn-prev {
    border-radius: 50%;
     width: 27px;
     height: 27px;
     margin: auto;
     line-height: 5px;
     cursor: pointer;
     background-color: var(--color-our-brewery);
     color: var(--text-color);
   }
   
   .our-brewery-carousel__btn-next {
     border-radius: 50%;
     width: 27px;
     height: 27px;
     margin: auto;
     line-height: 5px;
     cursor: pointer;
     background-color: var(--color-our-brewery);
     color: var(--text-color);
   }

.separator-wave {
    background-color: var(--fourth_text-color);
    width: 100%;
}

@media (min-width: 400px) {
    .our-brewery__gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}