.our-brewery {
    background-color: var(--color-our-brewery);
    color: var(--fourth_text-color);
    width: auto;
    height: auto;
    align-items: center;
}

.our-brewery__header {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-brewery__separator {
    font-size: 14px;
    color: var(--second_text-color);
}

.our-brewery__title {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.spikelet-separator {
    width: 100px;
    background-color: var(--color-our-brewery);
}

.our-brewery__info {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
}

.our-brewery__gallery-container {
    margin-top: 50px;
}
.crafted__image {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    position: static;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.separator-wave {
    background-color: var(--fourth_text-color);
}

@media (min-width: 400px) {
    .our-brewery__gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}