.testimonials {
    background-color: var(--background-color-light);
    justify-content: center;
    }
    
    .separator{
        margin-top: 20px;
        margin-left: -10px;
        justify-content: left;
    }
    
    
    .cust-image {
        border-radius: 50%;
        width: 200px; 
    }
    
    .customer-name {
        color: var(--color-green-dates);
    
    }
    
    .customer-quote {
        color: var(--color-subtitle);
    }
    .quote-date {
        color: var(--color-title);
    
    }
     